form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
}

.btnForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    width: 100px;
    height: 30px;
    
    border-radius: 10px;
    border: none ;
    text-decoration: none;
    background-color: red;
    color: white;   
}