.btnNav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    width: 100px;
    height: 30px;
    
    border-radius: 10px;
    border: none ;
    text-decoration: none;
    background-color: red;
    color: white;   
}

.btnNav:not(:last-child){
    margin-right: 10px;
}

.btnNav:active{
    background-color: rgb(130, 130, 130);
}


.wraperAuthNav{
    display: flex;
    
}