.btnLog{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    width: 100px;
    height: 30px;
    
    border-radius: 10px;
    border: none ;
    text-decoration: none;
    background-color: red;
    color: white;   
}

.btnLog:active{
    background-color: rgb(130, 130, 130);
}

.wraperUserMenu{
    display: flex;
    align-items: center;
}